ul {
    padding-left: 0 !important;
}

.scrollSpy-container {
    right: 0;
    transform: rotate(180deg);
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 99;
}

.scrollSpy-container ul li {
    writing-mode: vertical-lr;
    color: transparent;
    list-style: none;
    cursor: default;
    transition: all .2s ease-in-out;
    margin-top: 1.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.active {
    color: rgb(255, 0, 149);
    font-weight: bold;
    animation: opacidad 1s ease;
}

@keyframes opacidad {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 700px) {
    .scrollSpy-container ul li {
        margin-top: 1.5rem;
        font-size: 1.2rem;
    }
}